<p>
	Nome: <br />
	<%= form.text_field :nome %>
</p>

<p>
	Descrição: <br />
	<%= form.text_area :descricao , :size => "35x5" %>
</p>

<p>
	Preço: <br />
	<%= form.text_field :preco %>
</p>

<p>
	Quantidade: <br />
	<%= form.text_field :quantidade %>
</p>

<p>
	<%= form.submit "Salvar" %>
</p>