<p>
	<%= image_tag(produto.imagem.url(:small)) %><br />
	<%= produto.nome %> <br />
	<%= number_to_currency( produto.preco , unit: "R$", separator: ",", delimiter: "") %> <br />	
	<% if produto.quantidade > 0 and produto.ativo == true %>
		<%= form_tag :controller => :itens , :action => :create, :html => {:method => :post } do %>
			<%= hidden_field_tag :produto_id , produto.id %>
			Quantidade <%= text_field_tag :quantidade , 1 , :size => 3 %> <br />
			<%= submit_tag 'Adicionar ao carrinho' %>
		<% end %>
	<% else %>
		<%= "Produto indisponivél" %>
	<% end %>
</p>

<br />