<!DOCTYPE html>
<html>
<head>
  <title>Lojavirtual</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% [:notice , :error].each do |key| %>
			<% unless flash[key].blank? %>
				<div class="alert-message <%= key %>">
					<a class="close" href="javascript:void(0)"> &times; </a>
					<p> <strong> <%= flash[key] %></strong> </p>
				</div>
			<% end %>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
