<!DOCTYPE html>
<html>
<head>
  <title>Lojavirtual</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body role="document">	

	<nav class="navbar navbar-inverse" role="navigation">		
		<div class="navbar-header" >
				<!-- Botões que ficão no menu-->
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1" >
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>							
				<%= link_to "Loja Virtual" , root_url , :class => "navbar-brand"%>
			</div>
				<!-- Linhas do menu -->
			<div class="collapse navbar-collapse" id="bar1">
				<ul class="nav navbar-nav">
					<li class="active"> <%= link_to "Produtos" , root_url %> </li>
					<% if not pedido_atual.item.blank? %>
						<li> <%= link_to "Meu carrinho" , :controller => :itens , :action => :index %> </li>
					<% end %>
				</ul>
				<!-- local para o formulário de busca -->

				<!-- local para o formulário de busca -->
				<ul class="nav navbar-nav navbar-right">
					<% if session[:usuario_id].blank? %>
						<li> <%= link_to "Cadastrar" , :controller => :usuarios , :action => :new %></li>
	        	<li> <%= link_to "Entrar" , entrar_path %> </li>
	        <% else %>
	        	<li> <%= link_to "Cadastro" , "#" %> </li>
	        	<li> <%= link_to "Sair" , sair_path %> </li>	        		
	        <% end %>	                 
	      </ul>
			</div>			
		</div>
	</nav>

	<% flash.each do |key , msg| %>
		<% unless flash[key].blank? %>
			<div class="alert alert-<%= key %>">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= msg %>
			</div>
		<% end %>
	<% end %>		

	<h4> 
		Carrinho:
		<% if pedido_atual.item.count > 0 %>
			<%= pedido_atual.item.count %>
		<% else %>
			Nenhum
		<% end %>
		<% if pedido_atual.item.count > 1 %>
			Itens
		<% else %>
			Item
		<% end %>
	</h4>		
		Sessão: <%= session[:pedido_id] %> <br/>
		<% if not session[:usuario_id].blank? %>
		Usuario: <%= current_user.nome + " " + current_user.sobrenome %>
		<% end %>
	<div class="container">  	
		<%= yield %>			
	</div>

	
</body>
</html>
